    <li class="navbar-nav">
        <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Register">Kayıt Ol</a>
    </li>
    <li class="navbar-nav">
        <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Index">Giriş Yap</a>
    </li>
