@model UpdateBrand
@{
    ViewData["Title"] = "UpdateBrand";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg">
                <div class="card-header text-center">
                    <h4>@ViewData["Title"]</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        <input type="hidden" asp-for="Id" />
                        <div data-mdb-input-init class="form-outline mb-3">
                            <input type="text" id="BrandName" class="form-control" asp-for="BrandName" />
                            <label class="form-label" for="BrandName">Brand name</label>
                        </div>
                        <button type="submit" class="btn btn-success">Update Brand</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

